h1{

}
body{
    background-color: gray;
    height: 100vh;    
    color: white;
}
.container{
width: 80%;
height: auto;
background-color: black;
margin:0 auto;
border-radius: 25px;

}
.header{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}

.header img{
    width: 150px;
    height: auto;
    border-radius: 200px;
}

.Content{
margin: 10px;
}

.footer{
text-align: center;

}